<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<!--#region FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--#endregion FONTAWESOME-->

    <!--#region BOOTSTRAP ICON-->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> -->
    <!--#endregion BOOTSTRAP ICON-->

    <!--#region BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--#endregion BOOTSTRAP-->

    <!--#region MY UTILS-->
    <!-- <link rel="stylesheet" href="css/utils.css"> -->
    <!--#endregion MY UTILS-->

    <link rel="stylesheet" href="css/style.css">
    <title>BOOLZAPP</title>
</head>

<body>
    <div class="background-separator"></div>

    <div id="app">
        <div class="row h-100">

            <!--#region CONTACT SECTION-->

            <div class="col-4 d-flex flex-column h-100" id="contacts">
                
                <header id="my-profile">
                    <div class="profile-container d-flex justify-content-between">
                        <div class="profile d-flex align-items-center">
                            <img src="assets/img/avatar_io.jpg" alt="">
                            <p class="ms-3 p-0 m-0">Franco</p>
                        </div>

                        <div class="profile-button d-flex align-items-center">
                            <button><i class="fas fa-circle"></i></button>
                            <button><i class="fas fa-message"></i></button>
                            <button><i class="fas fa-ellipsis-v"></i></button>
                        </div>

                    </div>
                </header>

                <section class="notification-alert d-flex">
                    <div class="icon fa-solid fa-bell-slash"></div>
                    <div class="notification-text d-flex flex-column">
                        <p class="m-0">Ricevi notifiche di nuovi messaggi </p>
                        <a href="#"> attiva le notifiche desktop</a>
                    </div>
                </section>

                <section class="research-bar row m-0">
                    <button class="col-2"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input class="col-10" type="text" name="research" id="research">
                </section>

                <aside class="contacts">
                    <article class="contact"
                     v-for="(contact, index) in contacts" 
                     :key="index" 
                     :class="(activeContact === index) ? 'selected' : '' "
                     @click="activeContact = index">

                        <div class="profile-container d-flex justify-content-between">
                            <div class="profile d-flex align-items-start">
                                <img :src="'assets/img/avatar'+contact.avatar+'.jpg'" alt="">
                                <div class="profile-texts row ms-3 p-0 m-0">
                                    <p class="fw-semibold m-0">{{contact.name}}</p>
                                    <p class="fw-light m-0">{{contact.messages[contact.messages.length-1].message}}</p>
                                </div>
                            </div>

                    </article>
                    

                </aside>

            </div>
            <!--#endregion CONTACT SECTION-->

            <!--#region CHAT SECTION-->
            <section class="col-8 h-100 d-flex flex-column" id="chat-view">
                
                <header id="contact-header">
                    <div class="profile-container d-flex justify-content-between">
                        <div class="profile d-flex align-items-center">
                            <img :src="'assets/img/avatar'+contacts[activeContact].avatar+'.jpg'" alt="">
                            <div class="profile-texts row ms-3 p-0 m-0">
                                <p class="fw-semibold m-0">{{contacts[activeContact].name}}</p>
                                <p class="fw-light m-0">Ultimo accesso</p>
                            </div>
                        </div>

                        <div class="profile-button d-flex align-items-center">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <button><i class="fas fa-paperclip"></i></button>
                            <button><i class="fas fa-ellipsis-vertical"></i></button>
                        </div>

                    </div>
                </header>

                <section class="messages flex-grow-1 d-flex flex-column align-items-start">
                   
                    <div class="message" v-for="(message, index) in contacts[activeContact].messages" :class="{sent: message.sent}" :key="index">
                        <div class="message-text d-flex-column">
                            <div class="message-content">
                                {{message.message}}
                            </div>
                            <div class="message-hour text-end">
                                {{getMessageHour(message)}}
                            </div>
                        </div>
                    </div>


                </section>

                <section class="send-message d-flex align-items-center justify-content-between">
                    <button><i class="fa-regular fa-face-smile"></i></button>
                    <input v-model="userInput" class="flex-grow-1 py-2 mx-4" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage" type="text">
                    <button class="button-send-message" @click="sendMessage" ><i class="fa-solid fa-microphone"></i></button>
                </section>
            </section>
            <!--#endregion CHAT SECTION-->
        </div>
    </div>







    <!--#region VUE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--#endregion VUE-->



    
    <script type="module" src="./javascript/data.js"></script>
    <script type="module" src="javascript/script.js"></script>
    <!--#region BOOTSTRAP SCRIPT-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script> -->
    <!--#endregion BOOTSTRAP SCRIPT-->

</body>

</html>